=to-check-leaks.json

{
  "updatedAt": "2025-12-26T10:35:06.675Z",
  "createdAt": "2025-12-26T08:00:57.586Z",
  "name": "To check leaks",
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -144,
        16
      ],
      "id": "6177e2c8-c131-4f14-9f60-e489a40f9724",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/videos",
        "authentication": "__REDACTED__",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "snippet,statistics"
            },
            {
              "name": "chart",
              "value": "mostPopular"
            },
            {
              "name": "regionCode",
              "value": "IN"
            },
            {
              "name": "maxResults",
              "value": "5"
            },
            {
              "name": "key",
              "value": "AIzaSyAwVrQvqgnRcDxnGND51eXBsQkv28T3GTQ"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        48,
        16
      ],
      "id": "f0221d0e-080e-4e35-9935-0b381e562a08",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "474ff4cd-d72d-4da1-9c06-6457ee073793",
              "name": "items[0].snippet.title",
              "value": "={{ $json.items[0].snippet.title }}",
              "type": "string"
            },
            {
              "id": "6479d3cf-70ca-49c8-93c5-6d3689bdf87c",
              "name": "items[0].snippet.description",
              "value": "={{ $json.items[0].snippet.description }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        256,
        16
      ],
      "id": "af269f3e-a6a7-461d-9f81-9757c68d8942",
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "versionCounter": 5,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-26T08:00:57.586Z",
      "createdAt": "2025-12-26T08:00:57.586Z",
      "role": "workflow:owner",
      "workflowId": "l9a2xYK4BCi2bDv1",
      "projectId": "9ZLXGFMqYY5Qh0dZ",
      "project": {
        "updatedAt": "2025-04-30T06:24:01.804Z",
        "createdAt": "2025-04-28T07:43:19.369Z",
        "id": "9ZLXGFMqYY5Qh0dZ",
        "name": "HR  Wangoes <hr@wangoes.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-04-28T07:43:19.369Z",
            "createdAt": "2025-04-28T07:43:19.369Z",
            "userId": "e2104790-a2ce-47aa-bd6b-0032b4745bdc",
            "projectId": "9ZLXGFMqYY5Qh0dZ",
            "user": {
              "updatedAt": "2025-12-26T05:02:02.265Z",
              "createdAt": "2025-04-28T07:43:18.347Z",
              "id": "e2104790-a2ce-47aa-bd6b-0032b4745bdc",
              "email": "hr@wangoes.com",
              "firstName": "HR ",
              "lastName": "Wangoes",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-04-30T06:24:42.857Z",
                "personalization_survey_n8n_version": "1.89.2",
                "automationGoalDevops": [
                  "other"
                ],
                "companySize": "20-99",
                "companyType": "saas",
                "role": "it",
                "reportedSource": "linkedin"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "7WLPoXeVuA2eoJxG",
                "userActivatedAt": 1746162680417,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1763531583744
                },
                "dismissedCallouts": {
                  "aiAgentStarterCallout": true
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-26",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}